<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-outline mb-4">
    <%= form.text_field :title %>
  </div>

  <div>
    <h3>Task:</h3>
    <div>
      <%= form.fields_for :tasks do |f|%>
        <% render 'task_fields', f: f %>
      <% end %>
      <div>
        <%= link_to_add_fields 'Add tasks', form, :tasks %>
      </div>
    </div>
  </div>

  <div class="form-outline mb-4">
    <%= form.submit "New project" %>
  </div>
<% end %>
